.register-form {
    max-width: 600px;
    padding: 2.5em;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fff;
    background-image: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 2em;
    color: #fff;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1.5em;
    text-align: left;
  }
  
  label {
    margin-bottom: 0.5em;
    display: block;
    color: #fff;
  }
  
  input {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 1em;
    border: none;
    border-radius: 5px;
    background-color: #f48024;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d86717;
  }